<!DOCTYPE html>
<html>
  <head>
    <title>Ruby WebSockets PDUs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/nv.d3.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/select2.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="assets/js/d3.min.js"></script>
    <script type="text/javascript" src="assets/js/nv.d3.js"></script>
    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/select2.min.js"></script>
  
    <style>

      .nodes-select{
        width: 100%;
      }

      .summary{
        border: 1px solid rgb(241,241,241);
        text-align: center;
        font-size:120%;
      }

      .title{
          display : block;
      }

      .num{
        font-weight: bold;
      }

      svg{
        height:500px;
      }

    </style>


  </head>

  <body>
    <div id="container">
      <div class="summaryContainer"></div>
      <div id="nodes-container">
        <div class="loader">
          Retrieving nodes  <img src="images/ajax-loader.gif"/>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="assets/js/application_stacked.js"></script>
  </body>
</html>
