<!DOCTYPE html>
<html>
  <head>
    <title>Ruby WebSockets PDUs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/nv.d3.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="assets/js/d3.min.js"></script>
    <script type="text/javascript" src="assets/js/nv.d3.js"></script>
    <script type="text/javascript" src="assets/js/application_test.js"></script>

    <style>
      #container svg {
        height: 500px;
        min-width: 200px;
       min-height: 100px;
      }
    </style>

  </head>
  <body>
    <div id="container">
      <svg></svg>
    </div>
  </body>
</html>
